<tr>
	<td><%= link_to task.name, task %></td>
	<td><% if task.csm_id != nil%>
		<%= task.user.name %>
	<% end %></td>
	<td><% if task.customer_id != nil%>
		<%= task.customer.name %>
	<% end %></td>
	<td><%= task.instructions %></td>
	<% if task.due_date != nil %>
		<% if task.due_date.beginning_of_day < Time.now.beginning_of_day %>
			<td class="label label-important"><%= task.due_date %></td>
		<% elsif task.due_date.beginning_of_day < Time.now.beginning_of_day+3.days && task.due_date.beginning_of_day >= Time.now.beginning_of_day %>
			<td class="label label-warning"><%= task.due_date %></td>
		<% elsif task.due_date.beginning_of_day < Time.now.beginning_of_day+7.days && task.due_date.beginning_of_day >= Time.now.beginning_of_day+3.days %>
			<td class="label label-info"><%= task.due_date %></td>
		<% else %>
			<td class="label label-default"><%= task.due_date %></td>
		<% end %>
	<% else %>
		<td><%= task.due_date %></td>
	<% end %>
	<% if task.note != nil %>
		<td><%= task.note.first(10) %> <%if task.note.at(11) != nil%> ...<%end%></td>
	<% else %> <td></td><% end %>
	<% if task.done == true %>
		<td><%= link_to "yes", { controller: :tasks, action: :toggle_do, id: task.id} %></td>
	<% else %>
		<td><%= link_to "no", { controller: :tasks, action: :toggle_complete, id: task.id} %></td>
	<% end %>
	<td><%= link_to "edit", edit_task_path(task) %></td>
	<% if current_user.admin? %>
		<td><%= link_to "delete", task, method: :delete, data: {confirm: "You Sure"} %></td>
	<% end %>
</tr>