<% if task.due_date != nil %>
	<% if task.due_date < Time.now %>
		<tr class="alert-danger">
	<% elsif task.due_date < Time.now+3.days && task.due_date >= Time.now %>
		<tr class="warning">
	<% elsif task.due_date < Time.now+7.days && task.due_date >= Time.now+3.days %>
		<tr class="success">
	<% else %>
		<tr>
	<% end %>
<% else %>
	<tr>
<% end %>
	<td><%= link_to task.name, task %></td>
	<td><% if task.csm_id != nil%>
		<%= task.user.name %>
	<% end %></td>
	<td><% if task.customer_id != nil%>
		<%= task.customer.name %>
	<% end %></td>
	<td><%= task.instructions %></td>
	<td><%= task.due_date %></td>
	<% if task.note != nil %>
		<td><%= task.note.first(10) %> <%if task.note.at(11) != nil%> ...<%end%></td>
	<% else %> <td></td><% end %>
	<% if task.done == true %>
		<td><%= link_to "yes", { controller: :tasks, action: :completed, id: task.id} %></td>
	<% else %>
		<td><%= link_to "no", { controller: :tasks, action: :completed, id: task.id} %></td>
	<% end %>
	<td><%= link_to "edit", edit_task_path(task) %></td>
	<% if current_user.admin? %>
		<td><%= link_to "delete", task, method: :delete, data: {confirm: "You Sure"} %></td>
	<% end %>
</tr>