<% provide(:title, "Edit task") %>
<h1>Update <%= @task.name %> profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@task) do |f| %>
			<%= render 'shared/task_errors' %>

			<!-- add ability to edit database ID, needs update defined in controller
			<%= f.label :id %>
			<%= f.text_field :id %> -->

			<%= f.label :name, "Task Name" %>
			<%= f.text_field :name %>

			<%= f.label :instructions, "Task Instructions" %>
			<%= f.text_field :instructions %>

			<%= f.label :csm_id, "CSM ID" %>
			<%= f.text_field :csm_id, value: current_user.id %>

			<%= f.label :customer_id, "Customer ID" %>
			<%= f.collection_select(:customer_id, current_user.customers.all, :id, :name) %>

			<%= f.label :due_date, "Due Date" %>
			<%= f.date_field :due_date %>

			<%= f.label :note, "Notes" %>
			<%= f.text_field :note %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<%end %>
		<% if @task.csm_id != nil%>
			<b>CSM: </b><%= User.find_by(id: @task.csm_id).name %>
		<% end %>
	</div>
</div>