<% provide(:title, 'Tasks') %>
<h1><%= current_user.name%>'s tasks</h1>

<%= link_to "Create New Task", new_task_path, class: "btn" %>

<%= form_tag my_tasks_path, method: 'get' do %>
	<%= render partial: 'search' %>
<% end %>

<%= will_paginate %>

<table class="table table-hover table-bordered table-condensed">
	<% if @tasks != nil%>
	<tr>
		<th><%= sortable "id", "Task" %></th>
		<th><%=	sortable "csm_id", "CSM" %></th>
		<th><%=	sortable "customer_id", "Customer" %></th>
		<th>Instructions</th>
		<th><%=	sortable "due_date", "Due Date" %></th>
		<th>Notes</th>
		<th><%= sortable "done", "Done?" %></th>
		<th></th>
	</tr>
		<%= render @tasks %>
	<%else %>
	<h2>No Tasks Found</h2>
	<% end %>
</table>

<%= will_paginate %>