<% provide(:title, 'New Customer')%>
<h1>Create New Customer</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@task) do |f| %>
			<%= render 'shared/customer_errors' %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :instructions, "Instructions" %>
			<%= f.date_field :instructions %>

			<%= f.label :fiscal_ye, "Fiscal Year End Date" %>
			<%= f.date_field :fiscal_ye %>

			<%= f.label :csm_id, "CSM ID" %>
			<%= f.text_field :csm_id, value: current_user.id %>

			<%= f.label :customer_id, "Customer ID" %>
			<%= f.text_field :customer_id %>

			<%= f.submit "Create Customer", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>