<% provide(:title, 'New Task')%>
<h1>Create New Task</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@task) do |f| %>
			<%= render 'shared/task_errors' %>

			<%= f.label :name, "Task Name" %>
			<%= f.text_field :name %>

			<%= f.label :instructions, "Task Instructions" %>
			<%= f.text_field :instructions %>

			<% if current_user.is_senior %>
				<%= f.label :csm_id, "CSM" %>
				<%= f.collection_select(:csm_id, User.where("senior = ? OR id = ?", current_user.id, current_user.id).order('name ASC'), :id, :name, {selected: current_user.id}) %>
			<% else %>
				<%= f.label :csm_id, "CSM" %>
				<%= f.collection_select(:csm_id, User.where(id: current_user.id).order('name ASC'), :id, :name) %>
			<% end %>

			<%= f.label :customer_id, "Customer" %>
			<%= f.collection_select(:customer_id, current_user.customers.order('name ASC'), :id, :name, {include_blank: "Select Customer"}) %>

			<%= f.label :due_date, "Due Date" %>
			<%= f.date_field :due_date %>

			<%= f.label :note, "Notes" %>
			<%= f.text_field :note %>

			<%= f.submit "Create Task", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>