<% provide(:title, @task.name)%>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @task.name %>
			</h1>
			<%= link_to "edit", edit_task_path(@task.id)%>
		</secion>
	</aside>
</div>
<ul>
	<li><b>Instructions: </b><%= @task.instructions %></li>
	<% if @task.csm_id != nil%>
		<li><b>CSM: </b><%= User.find_by(id: @task.csm_id).name %></li>
	<% end %>
	<% if @task.customer_id != nil%>
		<li><b>Customer: </b><%= Customer.find_by(id: @task.customer_id).name %></li>
	<% end %>
	<li><b>Due Date: </b><%= @task.due_date %></li>
	<li><b>Notes: </b><%= @task.note %></li>
	<li><b>Done? </b><%= @task.done	%></li>
</ul>