<% provide(:title, 'Workspace') %>
<div><h1><%= current_user.name%>'s current tasks</h1>

<p><%= link_to "Create New Task", new_task_path, class: "btn" %></p>

<%= will_paginate %>

<table class="table table-hover table-bordered table-condensed">
	<tr>
		<th>Task</th>
		<th>CSM</th>
		<th>Customer</th>
		<th>Instructions</th>
		<th>Due date</th>
		<th>Done?</th>
		<th></th>
	</tr>
	<% if @tasks != nil%>
		<%= render @tasks %>
	<% end %>
</table>

<%= will_paginate %>