<li>
	<p>
		<%= gravatar_for user, size: 52 %>
		<%= link_to user.name, user %>
		<a>|</a>
		<%= link_to "edit", edit_user_path(user) %>
		<a>|</a>
		<!-- if to show links if current user is admin, but not on their name -->
		<% if current_user.admin? && !current_user?(user) %>
			<%= link_to "delete", user, method: :delete, data: {confirm: "You Sure"} %>
		<% end %>
	</p>
		<% if user.admin? %>
			admin
		<% end %>
		<a><%= link_to 'toggle admin', { controller: :users, action: :toggle_admin, id: user.id} %></a>
</li>