<tr>
	<td><%= link_to customer.name, customer %></td>
	<td><%= customer.start%></td>
	<td><%= customer.fiscal_ye%></td>
	<td><%= customer.next_per_end%></td>
	<td><%= customer.next_target%></td>
	<td><%= link_to "edit", edit_customer_path(customer) %></td>
	<% if current_user.admin? %>
		<td><%= link_to "delete", customer, method: :delete, data: {confirm: "You Sure"} %></td>
	<% end %>
</tr>