<tr>
	<td><%= link_to customer.name, customer %></td>
	<td><% if customer.csm_id != nil%>
		<%= User.find_by(id: customer.csm_id).name %>
	<% end %></td>
	<td><%= customer.start%></td>
	<td><%= customer.fiscal_ye%></td>
	<td><%= customer.next_per_end%></td>
	<td><%= customer.next_target%></td>
	<% if customer.single_source == true %>
		<td>yes</td>
	<%else%>
		<td></td>
	<%end%>
	<% if customer.note != nil %>
		<td><%= customer.note.first(10) %> <%if customer.note.at(11) != nil%> ...<%end%></td>
	<% else %> <td></td><% end %>
	<td><%= customer.xbrl_service %></td>
	<td><%= link_to "edit", edit_customer_path(customer) %></td>
	<% if current_user.admin? %>
		<td><%= link_to "delete", customer, method: :delete, data: {confirm: "You Sure"} %></td>
	<% end %>
</tr>