<% provide(:title, 'my customers') %>
<div><h1><%= current_user.name%>'s customers</h1>

<p><%= link_to "Create New Customer", new_customer_path, class: "btn" %></p>

<p>download
	<%= link_to "CSV", accounts_path(format: "csv")	%>
	<!--<%= link_to "Excel", accounts_path(format: "xls")	%>-->
</p>	

<%= form_tag accounts_path, method: 'get' do %>
	<%= render partial: 'shared/search' %>
<% end %>

<%= will_paginate %>

<table class="table table-hover table-bordered table-condensed">
	<%if @customers != nil%>
	<tr>
		<th><%= sortable "name", "Customer" %></th>
		<th><%= sortable "csm_id", "CSM" %></th>
		<th><%= sortable "start", "start date" %></th>
		<th><%= sortable "fiscal_ye", "year end" %></th>
		<th><%= sortable "next_per_end", "next period end" %></th>
		<th><%= sortable "next_target", "next target" %></th>
		<th><%= sortable "single_source", "s/s" %></th>
		<th>Notes</th>
		<th>XBRL</th>
		<th></th>
	</tr>
	<%= render @customers %>
	<% end %>
</table>

<%= will_paginate %>

<b>Import CSV File</b>
<%=	form_tag import_customers_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import" %>
<% end %>