<% provide(:title, 'my customers') %>
<div><h1><%= current_user.name%>'s customers</h1>

<% if current_user.admin? %>
	<p><%= link_to "Create New Customer", new_customer_path, class: "btn" %></p>
<% end %>

<%= will_paginate %>

<table class="table table-striped table-bordered table-condensed">
	<tr>
		<td>name</td>
		<td>start date</td>
		<td>year end</td>
		<td>next period end</td>
		<td>next target</td>
		<td></td>
	</tr>
	<%= render @customers %>
</table>

<%= will_paginate %>