<% provide(:title, @customer.name)%>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @customer.name %>
			</h1>
			<%= link_to "edit", edit_customer_path(@customer.id)%>
		</secion>
	</aside>
</div>
<table>
	<tr>
		<td><ul>
			<li><b>Start Date: </b><%= @customer.start %></li>
			<li><b>Fiscal Year End: </b><%= @customer.fiscal_ye %></li>
			<li><b>Next Period End: </b><%= @customer.next_per_end %></li>
			<li><b>Target Filing Date: </b><%= @customer.next_target %></li>
		</ul></td>
		<td><ul>
			<li><b>Single Source: </b><%= @customer.single_source %></li>
			<li><b>Notes: </b><%= @customer.note %></li>
			<li><b>XBRL status: </b><%= @customer.xbrl_service %></li>
			<% if @customer.csm_id != nil%>
				<li><b>CSM: </b><%= User.find_by(id: @customer.csm_id).name %></li>
			<% end %>
		</ul></td>
</table>

<p><%= link_to "Apply Task Set", choose_task_set_path(:customer_id => @customer.id), class: 'btn' %></p>


<table class="table table-hover table-bordered table-condensed">
	<% if @tasks != nil%>
	<tr>
		<th><%= sortable "id", "Task" %></th>
		<th><%=	sortable "csm_id", "CSM" %></th>
		<th><%=	sortable "customer_id", "Customer" %></th>
		<th>Instructions</th>
		<th><%=	sortable "due_date", "Due Date" %></th>
		<th>Notes</th>
		<th><%= sortable "done", "Done?" %></th>
		<th></th>
	</tr>
	<%	end %>
	<% if @tasks != nil%>
		<%= render @tasks %>
	<% end %>
</table>